modules/default
modules/MMM-mmpm
instances
.cache
docker-compose.yml
**/.vscode
**/.github
**/.git
**/.svn
**/.hg
**/node_modules
**/*prettier*
**/package.json
**/package-lock.json
!build/**/*.js
!index.js
!DockerComposeFile.js
